@use 'css-reset';

$primary-purple: hsl(259, 100%, 65%);
$primary-red: hsl(0, 100%, 67%);
$neutral-white: hsl(0, 0%, 100%);
$neutral-offwhite: hsl(0, 0%, 94%);
$neutral-grey: hsl(0, 0, 86%);
$neutral-smoke: hsl(0, 1%, 44%);
$neutral-offblack: hsl(0, 0%, 8%);
$font-size: 2rem;
$ff: 'Poppins';
$fw-400: 400;
$fw-700: 700;
$fw-800: 800i;

/*
TODO:
    fix button placement, try not using position absolute
    fix form spacing
    fix active state on tab
    fix button placement on desktop, button moves on error text
*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $neutral-offwhite;
    padding-inline: 1rem;
    font-family: $ff;
    font-size: $font-size;
    font-weight: $fw-400;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

.container {
    background-color: $neutral-white;
    padding-inline: 2rem;
    padding-block: 2rem;
    border-radius: 0.8rem 0.8rem 5rem 0.8rem;
}

form {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 1rem;
    border-bottom: 0.1rem solid $neutral-grey;
    padding-bottom: 4rem;
}

label {
    font-size: 0.8rem;
}

.label-error {
    font-size: 0.8rem;
    color: $primary-red;
}

input {
    border: 0.05rem solid $neutral-grey;
    border-radius: 0.2rem;
    padding: 0.5rem;
    max-width: 5rem;
    font-size: 1rem;
    cursor: pointer;
}

input:hover {
    border: 0.05rem solid $primary-purple;
}

.input-error {
    border: 0.05rem solid $primary-red;
    color: $primary-red;
}

.error {
    font-size: 0.5rem;
    color: $primary-red;
    padding-top: 0.5rem;
}

.button {
    position: absolute;
    top: 8.8rem;
    left: 7rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button-error {
    position: absolute;
    top: 10.7rem;
    left: 7rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

svg {
    background-color: $primary-purple;
    border-radius: 50%;
    fill: $primary-purple;
}

svg:hover {
    background-color: black;
}

section {
    padding-block: 2rem;
}

ul {
    list-style-type: none;
    padding-top: 3rem;
}

li {
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 800;
}

span {
    color: $primary-purple;
}

@media (min-width: 29.0625rem) {

    .container {
        min-width: 25rem;
        padding-inline: 1rem;
    }

    .div-input {
        display: flex;
        flex-direction: column;
    }
    
    button {
        top: 6.3rem;
        left: 19.4rem;
    }
}

