@use 'css-reset';

$primary-purple: hsl(259, 100%, 65%);
$primary-red: hsl(0, 100%, 67%);
$neutral-white: hsl(0, 0%, 100%);
$neutral-offwhite: hsl(0, 0%, 94%);
$neutral-grey: hsl(0, 0, 86%);
$neutral-smoke: hsl(0, 1%, 44%);
$neutral-offblack: hsl(0, 0%, 8%);
$font-size: 2rem;
$ff: 'Poppins';
$fw-400i : 400;
$fw-700: 700;
$fw-800i: 800;

/*
TODO:
    fix button placement, try not using position absolute
    fix form spacing
*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $neutral-offwhite;
    padding-inline: 1rem;
    font-family: $ff;
    font-size: $font-size;
    font-weight: $fw-400i;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

.container {
    background-color: $neutral-white;
    padding-inline: 2rem;
    padding-block: 2rem;
    border-radius: 0.8rem 0.8rem 5rem 0.8rem;
}

main {
}

form {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 1rem;
    border-bottom: 0.1rem solid $neutral-grey;
    padding-bottom: 4rem;
}

label {
    font-size: 0.8rem;
}

input {
    border: 0.05rem solid $neutral-grey;
    border-radius: 0.2rem;
    padding: 0.5rem;
    // max-width: 4rem;
    max-width: 5rem;
    font-size: 1rem;
}

button {
    position: absolute;
    top: 8.8rem;
    left: 7rem;
    border: none;
    background-color: transparent;
}

svg {
    background-color: $primary-purple;
    border-radius: 50%;
    fill: $primary-purple;
}

section {
    padding-block: 2rem;
}

ul {
    list-style-type: none;
}

li {
}

